.userMusic ul li {
  margin-bottom: 18px;
}

.userMusic ul li:last-child {
  margin-bottom: 0;
}

.userMusic .link {
  display: flex;
  align-items: center;
  transition-duration: .2s;
  width: 100%;
}

.userMusic .link:hover {
  filter: brightness(130%);
}

.userMusic .link .text {
  display: inline-block;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userMusic .popup {
  position: relative;
  max-width: 100%;
  width: fit-content;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 28px;
  height: 28px;
  border-radius: 4px;
  line-height: 0;
}

.likedSongs {
  background: linear-gradient(120deg, rgba(73, 17, 255, 0.753) 30%, rgb(209, 209, 209) 100%);
}

.likedSongs .inner {
  fill: #aaaaaa;
  height: 20px;
}

.playlist {
  background-color: #aaaaaa;
  line-height: 0px;
}
.playlist svg {
  height: 16px;
  width: 16px;
  color: #131313;
}