.container {
  padding: 30px;
  .title {
    margin-bottom: 30px;
  }

  .songBlock {
    margin: 0;
    margin-bottom: 15px;
    &:last-child {margin: 0;}
  }
}

.notFound {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}