:root {
  --header-height: 75px;
}

.container {
  display: grid;
  grid-template-areas: "nav-bar main-view" "now-playing-bar now-playing-bar";
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  position: relative;
  width: 100%;
}

.aside {
  grid-area: nav-bar;
  background-color: #000;
  min-width: 170px;
  width: 250px;
  max-width: 250px;
  z-index: 3;
}
@media only screen and (hover: none) and (pointer: coarse) {
  .aside {
    display: none;
  }
}
@media (max-width: 1450px) {
  .aside {
    width: 230px;
  }
}

@media (max-width: 1150px) {
  .aside {
    width: 210px;
  }
}

@media (max-width: 1024px) {
  .aside {
    width: auto;
  }
}

.header {
  grid-area: main-view;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  height: var(--header-height);
}

.main {
  grid-area: main-view;
  min-width: 320px;
  background-color: #0e0e0e;
  background: linear-gradient(#1f1f1f 0%, #0e0e0e 100%); 
  background-attachment: fixed;
  z-index: 1;
  padding-top: var(--header-height);
}

.footer {
  grid-area: now-playing-bar;
  background-color: #292929;
  border-top: 1px solid #292929;
  height: 84px;
  z-index: 4;
}

.addToPlaylistPopUp {
  position: absolute;
  height: 100vh;
  padding: 30px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  transition-duration: .2s;
  background-color: rgba(0, 0, 0, .7);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addToPlaylistPopUp[data-add_to_playlist_active='true'] {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
}