.error {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.container {
  height: fit-content;
  padding: 30px;
}

.section {
  margin-bottom: 40px;
}

.section:last-child {
  margin-bottom: 0;
}