.container {
  padding: 30px;

  .title {
    margin-bottom: 30px;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
  }
}

.notFound {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}