.container {
  cursor: pointer;
  padding: 5px 0px;
  margin: 0 30px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  text-align: left;

  @media only screen and (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }


  &._active {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .index {
    flex: 0 0 50px;
    width: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #c0c0c0;
  }

  .info {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    margin-right: 20px;
    overflow: hidden;

    &__cover {
      flex: 0 0 50px;
      height: 50px;
      width: 50px;
      background-position: center;
      background-size: cover;
    }

    &__text {
      margin-left: 15px;
      overflow: hidden;
    }

    &__name {
      display: block;
      font-size: 16px;
      margin-bottom: 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &__author {
      display: block;
      font-size: 12px;
      color: #c0c0c0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .songMenu {
    margin-right: 5px;
  }

  .likeBtn {
    margin-right: 8px;
  }
}