.modal {
  position: absolute;
  height: 100vh;
  padding: 30px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  transition-duration: .2s;
  background-color: rgba(0, 0, 0, .7);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  &[data-is_active='true'] {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
  }
}

.container {
  padding: 40px;
  padding-bottom: 20px;
  background-color: rgb(14, 14, 14);
  border-radius: 10px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 13px;
  }
  
  &::-webkit-scrollbar-track {
    background-color: #1f1f1f;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #5e5e5e;
  }
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.block {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  padding: 5px 0;
  margin-bottom: 5px;
  border-radius: 5px;
  @media only screen and (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

  &:last-child { margin-bottom: 0;}
}