.btn {
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 10px;
  cursor: pointer;
  color: #d1d1d1;
  line-height: 0;
  transition-duration: .2s;

  &:hover {
    filter: brightness(120%);
  }

  svg {
    height: 32px;
  }
}